raw_data/
electricity_price_predictor/.env
electricity_price_predictor.egg-info/
electricity_price_predictor/.ipynb_checkpoints
__pycache__/
tests/__pycache__/
.ipynb_checkpoints
.pytest_cache/
.python-version