pip>=9
setuptools>=26
wheel>=0.29
pandas
pytest
coverage
flake8
black
yapf
python-gitlab
twine
joblib
holidays
xlrd
Flask==1.1.1
Flask-Cors==3.0.8
gunicorn==20.0.4
streamlit
matplotlib
electricity_price_predictor.data

